
.logo{
    height: 100px;
    width: 100px;
    display: inline-block;
}
body{
    background-image: url('image/background.png');
    background-position: center;
    background-size: cover;

}
.line-icon{
    align-items: center;
    padding-top: -10px;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li,a,button{
    font-family: "Barlow", Arial,sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: red;
    text-decoration: none;

}
.navbar ul li{
    list-style: none;
    position: relative;
    display: inline-block;
    margin: 0 20px;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #fe0000;
    position: absolute;
    left:0; 
    bottom: -3px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;

}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 10px 10%;  
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 0px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: rgba(255, 0, 0, 1.5);
    box-shadow: 2px 10px 0.15;
}



footer{
    margin-top: 50px;
}
     
.footer{
    background:rgb(255, 255, 255);
    padding:10px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    border-top: 1px solid black;
    border-style: initial;
    opacity: 0.75;

}
    
.footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:rgb(0, 0, 0);
    font-size:0.8em;
}
    
.footer .row {
    text-decoration:none;
    color:rgb(0, 0, 0);
    transition:0.5s;
}
    
.footer .row a:hover{
    color:rgb(252, 102, 102);
}
    
.footer .row ul{
    width:100%;
}
    
.footer .row ul li{
    display:inline-block;
    margin:0px 30px;
}
    
.footer .row a i{
    font-size:2em;
    margin:0% 1%;
}
    
@media (max-width:720px){
    .footer{
        text-align:left;
        padding:5%;
    }
    .footer .row ul li{
        display:block;
        margin:10px 0px;
        text-align:left;
    }
    .footer .row a i{
        margin:0% 3%;
    }
    }
.heading{
    margin-left: 700px;
    font-weight: 500;
    font-size: 65px;
    color: #fe0000;
    margin-top: 100px;
    
}
.format {
    text-align: left;
    margin-left: 50px;
    margin-top: 50px;
}
.heading2 {
    color: red;
    font-size: 20px;
    font-weight: bold;
}